{
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "es5",
  "bracketSpacing": false,
  "jsxSingleQuote": false,
  "quoteProps": "preserve",
  "proseWrap": "preserve",
  "jsxWhitespaceSensitivity": "ignore"
}